@using WorldWideGamerMVC.ViewModels
@model WorldWideGamerMVC.ViewModels.GamesViewModel
    @{
        ViewBag.Title = "GameOverzicht";
    }

    <h2>GameOverzicht</h2>

<hr />
<div>
    <div class="table-responsive">
        <table id="example" class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Games</th>
@foreach (GameViewModel item in Model.Games)
{
    <th>@Html.ActionLink(item.naam, "DetailGame", "Game", new { gameId = item.gameId }, null)</th>
}
                   
                </tr>
            </thead>
            <tbody>

<tr>
    <td>Stats</td>
    @foreach (GameViewModel item in Model.Games)
    {
        <td>
            <table id="games" class="table table-bordered" cellspacing="0">
                <thead>
                    <tr>
                        <th>UserName speler</th>
                        <th>Naam speler</th>

                    </tr>
                </thead>
                <tbody>
                    @if (item.spelers.Count != 0)
                    {
                        foreach (SpelerUserNameGameViewModel game in item.spelers)
                        {
                            <tr>
                                <th>@game.Username</th>
                                <td>@game.SpelerViewModel.VoorNaam @game.SpelerViewModel.AchterNaam</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <th></th>
                            <td></td>
                            </tr>
                        
                    }
                </tbody>
            </table>
        </td>
               
    }
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Games</th>
                    @foreach (GameViewModel item in Model.Games)
                    {
                        <th>@Html.ActionLink(item.naam, "DetailGame", "Game", new { gameId = item.gameId }, null)</th>
                    }
                </tr>
            </tfoot>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
