@model WorldWideGamerMVC.ViewModels.Geschiedenis.AanvraagSpelSpelersViewModel

@{
    ViewBag.Title = "AanvraagHS";
}

<h2>AanvraagHS</h2>

@using (Html.BeginForm("SaveAanvraag", "Geschiedenis", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-5">
            <div>@Html.Label("")</div>
            @Html.Hidden("UserId", Model.UserId)
            @Html.Hidden("GameId", Model.GameId)
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        </div>
        <div class="col-md-2">
            <div>@Html.Label("Versus")</div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <div>@Html.Label("", htmlAttributes: new { @class = "control-label col-md-2" })</div>
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.Tegenstander, Model.Tegenstander, new { @class = "selectpicker", @id = "tegenstanderSelect" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-offset-3">

    </div>

        <div class="row" data-toggle="buttons">
            <div class="col-md-6">
                <label class="btn btn-primary">

                    @Html.RadioButtonFor(u => u.Winnaar, Model.UserName, new { id = "optie1", autocomplete = "off", @checked = true })
                    <label for="optie1">@Model.UserName</label>
                </label>
            </div>
            <div class="col-md-6">
                <label class="btn btn-primary">

                    @Html.RadioButtonFor(u => u.Winnaar, "2", new { id = "optie2", autocomplete = "off" })
                    <label id="opties2" for="optie2"></label>
                </label>
                </div>
            </div>


    <div class="row">
        <div class="col-md-6">
            <input type="submit" class="btn btn-success" value="Register" />
            </div>
        </div>
}
@section Scripts {
    <script type="text/javascript">
        window.onload = function () {
            setTegenstanderWinner();
        };
        $('#tegenstanderSelect').on('changed.bs.select', function (e) {
            setTegenstanderWinner();

        });
        function setTegenstanderWinner() {
            $("#opties2").empty();
            $("#opties2").append(getSelectedText('tegenstanderSelect'));
        };
        function getSelectedText(elementId) {
            var elt = document.getElementById(elementId);
            if (elt.selectedIndex == -1)
                return null;

            return elt.options[elt.selectedIndex].text;
        };
    </script>
}