@using WorldWideGamerMVC.ViewModels
@model WorldWideGamerMVC.ViewModels.Geschiedenis.AanvraagGesViewModel
@{
    ViewBag.Title = "AanvraagGes";
}

<h2>AanvraagGes</h2>

@using (Html.BeginForm("Aanvraag", "Geschiedenis", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Hidden("UserId", Model.UserId)
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.AlleGames, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select name="gameSelecter[]" class="selectpicker" id="gespeeldeGames">
                @foreach (GameViewModel entry in Model.AlleGames)
                {
                        <option value="@entry.gameId">@entry.naam</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
       @Html.TextBoxFor(m => m.Image, new { type = "file" })
        <div class="col-md-10">
            @Html.ValidationMessageFor(m => m.Image)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Vraag Spel AAn" />
        </div>
    </div>
}
